<% layout('./layouts/boilerplate') %>
<div class="container d-flex flex-column align-items-center">
  <%- include('../../partials/flash') %>
  <h1 class="my-4 headerColor">Publicaciones Guardadas</h1>
  <%for(let publications of savedPublication){%>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title" style="color: black">
        <%= publications.publications.title%>
      </h5>
      <p class="card-text" style="color: black">
        <%= publications.publications.description%>
      </p>
      <p
        id="date"
        value="<%= publications.publications.date%>"
        class="card-text"
        style="color: black"
      ></p>

      <form
        action="/deleteSavedPublication/<%= publications._id%>?_method=DELETE"
        method="POST"
      >
        <a
          href="/publicacion/<%= publications.publications._id%>"
          class="btn btn-secondary"
          >Ver Publicacion</a
        >
        <button type="submit" class="btn btn-secondary">
          Quitar Publicacion
        </button>
      </form>
    </div>
  </div>
  <% } %>
</div>
<script src="/js/getDate.js"></script>
