<% layout('./layouts/boilerplate') %>

	<div class="container d-flex flex-column justify-content-center align-items-center">
		<%- include('../../partials/flash') %>
			<div class="">
				<h1 class="mt-4 headerColor"><%= user.username%></h1>
				
				<div class="card mt-3">
					<div class="card-header">
						<h5 class="card-title"><%=user.name %> <%=user.surname %></h5>
					</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Email: <%= user.email%></li>
							<li class="list-group-item">Phone: <%=user.phone%></li>
							
							<li class="list-group-item">City: <%= user.city%></li>
              <li class="list-group-item">Zip Code: <%= user.zipcode%></li>
							
						</ul>
					</div>
				</div>
        
          <a href="/profile/edit" class="btn btn-warning mt-2">Editar Perfil</a>

       
        <% if(user.isAdmin !== true){ %>
          <div class="align-self-start my-4">
               <!-- Create a form with post  -->
               <form action= "/admin/<%=user._id%>" method="POST" class="d-inline">
                   <button type="submit" class="btn btn-success">Conviertete en admin</a>
               </form>
               
           </div>
           <% } else {%>
           <div class="align-self-start my-4" class="d-inline">
               <a href="/groups/new" class="btn btn-primary">Crea un grupo</a>
               
           </div>
           
           <% } %>

         
          
			</div>

	</div>

<!-- Make a div with an title of MarcosD  -->
<div class="container d-flex flex-column justify-content-center align-items-center">
        
            <div class="">
                <h2 class="headerColor">Grupos de <%=user.username%></h2>
                <% if(user.isAdmin){ %>
                    <% for (let i = 0; i < admin.groups.length; i++) { %>
    
                    <!-- Create a div with information inside-->
    
        <div class="container usergroupBox">
            <div class="card my-3">
              <div class="card-body d-flex flex-row">
                <div class="groupThumbNail d-inline"></div>
                
                <a class="align-self-center" href="/groups/<%=admin.groups[i]._id%>"><h5 class="card-title  mx-3"><%=admin.groups[i].name%></h5></a>              
             
                <div class="d-flex flex-row justify-content-end" >
                <a href="/groups/<%=admin.groups[i]._id%>/edit" class="btn btn-warning my-auto d-inline">Edit</a>
                <form action="/groups/<%=admin.groups[i]._id%>?_method=DELETE" method="POST" class="my-auto">
                  <button type="submit" class="btn btn-danger d-inline ">Delete</button>
                  
                </form>
                <form action= "/notification/<%=admin.groups[i]._id%>" method="POST" class="d-inline my-auto">
                  <button type="submit" class="btn btn-light">Envia Notificacion
               </button>
               </form>
              </div>
              </div>
            </div>
          </div>
    
                    <%}} else {%>
                        <div class="container usergroupBox">
                            <div class="card my-3">
                              <div class="card-body d-flex flex-row">
                                
                                <p class="align-self-center"> Aqui podras ver tus grupos</p>
                                
                              </div>
                            </div>
                          </div>
     
                        <% } %>
            </div>
            
        
    </div>
	


