<% layout('./layouts/boilerplate') %>
<div class="main">
  <div class="container my-5">
    <%- include('../../partials/flash') %>
    <div class="row">
      <div class="col-lg-8">
        <div class="d-flex flex-row justify-content-between align-items-center">
          <h1 class="d-inline pubTitl"><%=publicacion.title%></h1>

          <div class="d-inline">
            <% if(user){ %> <% if(user._id.toString() ===
            admin.userId.toString()){ %>
            <a href="/publicacion/<%=publicacion._id%>/edit"
              ><button class="btn btn-warning">Editar</button>
            </a>

            <form
              class="d-inline"
              action="/publicacion/<%=publicacion._id%>?_method=DELETE"
              method="POST"
            >
              <input
                type="text"
                class="d-none"
                value="<%= publicacion._id%>"
                name="publicationId"
              />
              <button class="btn btn-danger">Eliminar</button>
            </form>
            <%}}%>
            <form
              class="d-inline svPuform"
              action="/savePublication"
              method="post"
            >
              <input
                type="text"
                class="d-none"
                value="<%= publicacion._id%>"
                name="publicationId"
              />
              <button class="btn btn-primary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-send-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"
                  />
                  <path
                    d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"
                  />
                </svg>
              </button>
            </form>
          </div>
        </div>

        <a class="pubGName" href="/groups/<%= publicacion.group._id%>"
          ><h5><%= publicacion.group.name%></h5></a
        >

        <div class="mb-4 pubCont">
          <% if(publicacion.image.url ){ %>
          <div class="imageSizeBox">
            <img
              src="<%=publicacion.image.url%>"
              class="img-fluid"
              alt="Responsive image"
            />
          </div>
          <% } else {%>
          <div class="empimageSizeBox">
            <h3>Aqui estara la imagen</h3>
          </div>
          <% } %>
          <h2 class="mb-4">Descripcion</h2>
          <p class="mb-4"><%=publicacion.description%></p>
          <h3 class="mb-4">Fecha</h3>
          <p id="date" class="mb-4" value="<%=publicacion.date%>"></p>

          <h3 class="mb-4\">Localizacion</h3>
          <p class="mb-4"><%=publicacion.location%></p>
          <h3 class="mb-4\">Pueblo</h3>
          <p class="mb-4"><%=publicacion.city%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/getDate.js"></script>
